/* ProductPost.css */

.product-form {
    width: 100%; /* Set the form width to 100% */
    max-width: 400px; /* Set a maximum width for centering */
    margin: 80px auto; /* Center the form both horizontally and vertically */
    background-color: transparent; /* Background color for the content container */
  border-radius: 5px; /* Add rounded corners to the container */
  box-shadow: 0 0 10px #CD7f32; /* Add a subtle box shadow */
  text-align: center; /* Center the content inside the container */
  padding: 20px; /* Set a background color for the form */
  }
  
  .product-form label {
    display: block; /* Display labels as blocks to stack them vertically */
    margin-bottom: 10px;
    color: black; /* Add margin between labels and input fields */
  }
  .submit-button {
    display: block; /* Display the button as a block-level element (on a new line) */
    margin-top: 10px; /* Add some space above the button */
  }
  